@page
@model Bolt.Pages.APIModel

<h2>API</h2>
<p>
    The API is at https://bolturl.herokuapp.com/Shorten-.<br />
    It uses query parameters (?param=val) to create short URLs.<br />
    To use the API, simply provide the url parameter with a percentage encoded url.<br />
    The short path is returned with no html tags or whatsoever.<br />
    Note that it is only the short path not the entire url so you will have to add https://bolturl.herokuapp.com/ to it.
</p>